tuition-support-agent-workflow.json
{
  "name": "Days 3 workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e7f646e1-6abe-49ed-833a-3eea8b03e9cb",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -848,
        240
      ],
      "id": "f2fa6c41-a88c-444c-812d-89a436ef1e96",
      "name": "Webhook",
      "webhookId": "e7f646e1-6abe-49ed-833a-3eea8b03e9cb"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=Tum ek tuition center ke liye ek friendly customer support assistant ho. Neeche customer ka message hai. Iska professional aur helpful reply Roman Urdu mein likho.\n\nCustomer ka naam: {{ $json.body.student_name }}\nSubject: {{ $json.body.subject }}\nClass: {{ $json.body.class_level }}\nPreferred Time: {{ $json.body.preferred_time }}\nReply mein exactly yeh cheezein include karo aur kuch extra mat likho:\n1. Customer ko unke naam se greet karo\n2. Confirm karo unka subject aur time\n3. End mein sirf ye line likho: \"Class booking confirm karne ke liye humein reply karein.\""
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        -576,
        192
      ],
      "id": "8902404d-4732-40c3-8a6f-6b9158999584",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -144,
        96
      ],
      "id": "9349b635-f6ae-4cac-a7f6-41241f16cd86",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Shukriya aapke message ke liye! Hamari team jald hi aapse rabta karegi.",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        16,
        272
      ],
      "id": "93170258-67e7-4c73-bb41-1ffe276a88c7",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c4c24f65-4987-4684-8c68-e9ff76b61ca5",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        368
      ],
      "id": "204f8c27-26cf-46b1-9012-ef6ba79bec95",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8d79d30d-8fec-42dd-be2c-665cf100537b",
  "meta": {
    "instanceId": "cecc21b4afde163c306314c82883b221c1a01ccb3593abc9d7425573b4018eb0"
  },
  "nodeGroups": [],
  "id": "apa7lWDfztIUjqmf",
  "tags": []
}